.root {
    padding: 3rem;
    border-radius: 0 100% 100% 0;
    background: linear-gradient(to right, #7e2ab6, #814e40 );
    color: white;
}

.modal {
    color: white !important;
    background: linear-gradient(to right, #7e2ab6, #814e40 ) !important;
}