.root {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    cursor: pointer;

    &:hover {
        transform: translateY(-30%);
        transition: transform 0.5s;
    }
}